body {
    font-family: Arial, sans-serif;
    background-image: url('../css/images/IMG_7001.JPG');
    background-size: cover;
    background-position: center; /* Ensure the image is centered */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white;
    text-align: center;
    padding-top: 50px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

#hiddenText {
    display: none;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}